.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 84.375vw;
  max-height: 90vh;
  overflow: hidden;
}
.heroImg {
  position: absolute;
  background-image: url('../../assets/img/dyor_hero.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(255,182,71,0.3) 100%), url('../../assets/img/dyor_hero.jpg'); /*url('https://source.unsplash.com/collection/1153100/2048x1024')*/;
  background-size: cover;
  background-position: center;
  width: 105%;
  height: 105%;
  filter: blur(3px);
}

.pitch {
  position: relative;
  padding: 2em;
}

.pitch h1,
.pitch h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.pitch hr {
  width: 50%;
  margin: 1em auto;
}

@media screen and (min-width: 40em) {
 .wrapper{
   height: 56.25vw;
   margin-top: 0;
 }
}
