/*@import 'normalize.css';*/
@import 'variables.css';
@import 'typography.css';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  min-height: 100%;
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 1em;
  line-height: 1.625em;
  margin: auto;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.article {
  margin: 0 auto;
  max-width: 37.5em;
  margin-bottom: 8em;
}

img {
  max-width: 100%;
  height: auto;
  margin: 1em auto 2em;
}

section{
  padding-top: 1em;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 960px;
}

#app {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: var(--footer-height);
}

@media screen and (min-width: 40em) {
  html {
    font-size: 18px;
  }
  .container {
    width: 80%;
  }
}

/*
Navbar
*/
