h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1, .h1 {
  font-size: 3.375em;
  line-height: 1.44444444em;
  margin-top: 0.48148148em;
  margin-bottom: 0.96296296em;
}
h2, .h2 {
  font-size: 2.25em;
  line-height: 1.44444444em;
  margin-top: 0.72222222em;
  margin-bottom: 0.72222222em;
}
h3, .h3 {
  font-size: 1.5em;
  line-height: 1.08333333em;
  margin-top: 1.08333333em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.625em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border-top: 1px solid;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
/* Links
   ========================================================================== */
a {
  background: transparent;
  color: #222;
  transition: all .3s;
}
a:active, a:hover {
  outline: 0;
}
a:hover {
  color: #222;
}
a:visited {
  color: #888;
}
a:visited:hover {
  color: #222;
}
a:active {
  color: #f00;
}


/* Paragraph
========================================================================== */
.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}
