/*
Gutenberg: A Meaningful Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.2.3
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/
/* Configuration
   ========================================================================== */
/* Calculations
   ========================================================================== */
/* Font themes
   ========================================================================== */
/* Headings
   ========================================================================== */

@media screen and (min-width: 40em) {
 body,
 html {
   margin: 0;
   width: 100%;
   max-width: none;
 }
}

html {
 box-sizing: border-box;
 font-size: 16px;
 font-size: 100%;
 font-family: Merriweather, Georgia, serif;
 color: #222;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 40em) {
 html {
   font-size: 18px;
   font-size: 1.125rem;
 }
}

* {
 line-height: 26px;
 line-height: 1.625rem;
 margin: 0px 0px 26px;
 margin: 0rem 0rem 1.625rem;
}
@media screen and (min-width: 40em) {
 * {
   line-height: 31px;
   line-height: 1.722222222222222rem;
   margin-bottom: 31px;
   margin-bottom: 1.722222222222222rem;
   max-width: 630px;
   max-width: 35rem;
   margin-left: auto;
   margin-right: auto;
 }
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

body {
 margin: 0;
}

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 104px;
  margin-top: 6.5rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 39px;
  margin-top: 2.4375rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem;
}

@media screen and (min-width: 40em) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.444444444444445rem;
    margin-top: 124px;
    margin-top: 6.888888888888889rem;
    margin-bottom: 31px;
    margin-bottom: 1.722222222222222rem;
  }

  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.583333333333334rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 62px;
    margin-top: 3.444444444444445rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h4 {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 46.5px;
    margin-top: 2.583333333333334rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem;
  }
}
h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 40em) {
  h1 + h2 {
    margin-top: 31px;
    margin-top: 1.722222222222222rem;
  }
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem;
}
@media screen and (min-width: 40em) {
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    margin-top: 15.5px;
    margin-top: 0.861111111111111rem;
  }
}

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem;
}
@media screen and (min-width: 40em) {
  h5 + h6 {
    margin-top: -15.5px;
    margin-top: -0.861111111111111rem;
  }
}

h6 {
  font-style: italic;
  font-weight: normal;
}

hgroup {
  display: block;
}

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  box-sizing: content-box;
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #222 11px, #222 15px, transparent 15px, transparent 26px);
  width: 100px;
}
@media screen and (min-width: 40em) {
  hr {
    margin-top: 62px;
    margin-top: 3.444444444444445rem;
    margin-bottom: 62px;
    margin-bottom: 3.444444444444445rem;
    height: 31px;
    height: 1.722222222222222rem;
  }
}
@media screen and (min-width: 40em) {
  hr {
    background-size: 100% 31px;
    background-size: 100% 1.722222222222222rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #222 13.5px, #222 17.5px, transparent 17.5px, transparent 31px);
  }
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

svg:not(:root) {
  overflow: hidden;
}

/* Links
   ========================================================================== */
a {
  background: transparent;
  color: #222;
  transition: all .3s;
}
a:active, a:hover {
  outline: 0;
}
a:hover {
  color: #222;
}
a:visited {
  color: #888;
}
a:visited:hover {
  color: #222;
}
a:active {
  color: #f00;
}

article {
  display: block;
  margin: 0 auto;
  width: 80%;
}
@media screen and (min-width: 40em) {
  article {
    max-width: 945px;
    max-width: 52.5rem;
  }
}

/* Paragraph
========================================================================== */
.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}
