.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 400px;
  padding: 1em;
  background: var(--secondary-color);
  color: #fff;
}

.footer hr {
  background: var(--primary-color);
  height: 2px;
}
