.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 32px rgba(0,0,0,0.15);
  z-index: 999;
}

.navBar{
  display: flex;
  justify-content: flex-end;
  margin: 0 2em;
}

.labelToggle {
  background: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-color) 20%, transparent 20%, transparent 40%, var(--primary-color) 40%, var(--primary-color) 60%, transparent 60%, transparent 80%, var(--primary-color) 80%, var(--primary-color) 100%);
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 1rem 0;
  cursor: pointer;
}

.navBar ul {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 66vw;
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 4rem 0 0;
  background: var(--primary-color);
  transition: all 0.3s ease;
}

.navBar li {
  margin: 0;
}

.navBar li a {
  display: block;
  line-height: 2em;
  margin: 0;
  padding: 1em 1em 1em 1.2em;
  color: #fff;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.5s, box-shadow 0.3s;
}

.navBar li a:hover {
  background: rgba(0,0,0,0.05);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.menuToggle:checked ~ ul {
  left: 0;
}

.menuToggle {display: none;}

@media screen and (min-width: 40em) {

  .header {
    position: absolute;
    margin: 0;
    max-width: none;
  }

  .navBar{
    margin: 0 auto;
  }

  .labelToggle {
    display: none;
    position: fixed;
    right: 100%;
  }

  .navBar ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: none;
    height: 4em;
    top: auto;
    left: auto;
    background: none;
  }

  .navBar li {
    margin: 0;
    min-width: 6em;
  }

  .navBar li a {
    line-height: 2em;
    text-align: center;
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.5s, box-shadow 0.3s;
  }

  .navBar li a.active {
    color: var(--primary-color);
    box-shadow: inset 0 -3px var(--primary-color);
  }

  .navBar li a:hover {
    box-shadow: inset 0 -3px var(--primary-color);
  }
}
